@import "../../node_modules/@fontsource-variable/nunito/index.css";

:root {
  --font: "Nunito Variable", ui-rounded, "Hiragino Maru Gothic ProN", Quicksand,
    Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}

@layer stacks {
  :root {
    --fs-base: clamp(0.75rem, 10.89vmin + -1.8rem, 8rem);

    --fs-hero-horizontal: 900 normal clamp(2.8rem, 15.89vmin + -1.8rem, 8rem) /
      1 var(--font);
    --fs-hero-vertical: 900 normal clamp(0.75rem, 10.89vmin + -1.8rem, 8rem) / 1
      var(--font);

    --fs-h1: 400 normal clamp(2.8125rem, 4.23vmin + 1.82rem, 5.625rem) / 1
      var(--font);
    --fs-h2: 700 normal clamp(2.8125rem, 1.78vmin + 2.39rem, 4rem) / 1.15
      var(--font);
    --fs-h3: clamp(2rem, 1.22vmin + 1.71rem, 2.8125rem) / 1.2 var(--font);
    --fs-h4: clamp(1.5rem, 0.75vmin + 1.32rem, 2rem) / 1.2 var(--font);
    --fs-h5: 1.5rem / 1.2 var (--font);
    --fs-h6: 1.25rem / 1.2 var(--font);

    --fs-label: 700 normal 1.25rem /1 var(--font);
    --fs-paragraph: 400 normal clamp(1rem, 0.38vmin + 0.65rem, 1.375rem) / 1.375
      var(--font);
    --fs-caption: 300 normal 0.625rem / 1.375 var(--font);
  }
}

@layer elements {
  :root {
    font: var(--fs-base);
  }

  h1,
  .h1 {
    font: var(--fs-h1);
  }

  h2,
  .h2 {
    font: var(--fs-h2);
  }

  h3,
  .h3 {
    font: var(--fs-h3);
  }

  h4,
  .h4 {
    font: var(--fs-h4);
  }

  h5,
  .h5 {
    font: var(--fs-h5);
  }

  h6,
  .h6 {
    font: var(--fs-h6);
  }

  p,
  .paragraph {
    font: var(--fs-paragraph);
  }

  caption,
  .caption {
    font: var(--fs-caption);
  }

  label,
  .label {
    font: var(--fs-label);
    letter-spacing: 0.14rem;
    text-transform: uppercase;
  }

  strong,
  .strong,
  .bold {
    font-weight: 700;
  }
}
