@layer reset, palette, theme, global, compositions, layout, components, overrides;

@import "./styles/reset.css" layer(reset);
@import "./styles/tokens.css" layer(theme);
@import "./styles/typography.css" layer(theme);
@import "./styles/palette.css" layer(palette);

@layer theme {
  :root {
    color-scheme: light;
    accent-color: var(--accent);
    color: var(--text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: var(--accent);
    color: white;
  }
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;

  &:hover {
    color: var(--primary);
  }
}

body {
  margin: auto;
  display: grid;
  place-content: center;
  width: clamp(320px, 100%, 120ch);
  min-height: 100vh;
}
